@(message: String, taskForm:Form[Task], tasks:List[Task])(implicit messages: Messages)

@import helper._

@main(message) {
<div>
    <h1>@message</h1>

    @form(action = routes.Application.remove) {
    <div>
        @if(tasks.isEmpty) {
        <h2>You not have tasks yet!</h2>
        } else {
        <ul>
            @for(task <- tasks) {
            <li style="display: inherit;">
                <input type="checkbox" name="tasks" value=@task.id>
                @task.title : @task.description
            </li>
            }
        </ul>
        }
    </div>
    <div>
        <input type="button" value="Add" onclick="javascript:showForm()"/>
        <input type="submit" value="Remove"/>
    </div>
    }
    <div id="addTask" style="display:none">
        @form(action = routes.Application.save){
        @inputText(taskForm("title"))
        @inputText(taskForm("description"))
        <input type="submit" value="Save"/>
        }
    </div>
</div>
}
